Options -Indexes
Header add Access-Control-Allow-Origin "*" 

AddType application/vnd.ms-fontobject .eot

AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff
AddType font/woff .woff2


# this rewrites anything how-late.com
#RewriteEngine on
#RewriteCond   %{HTTP_HOST}                 ^(www\.)?how-late\.com$
#RewriteRule   ^(.+)                        http://how-late.com/en          [NC]


#AuthName "how-late root"
#Order deny,allow
#Deny from all
#Allow from 203.122.224.228 203.122.212.28
#Satisfy any
#Options -Indexes
#AuthUserFile "/home/howlate/.htpasswds/public_html/passwd"



# BEGIN WordPress

# END WordPress
