/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2014, 3:15:59 PM
    Author     : Alex
*/


.middlediv {
    width: 50%;
    height: 280px;
    background: linear-gradient( to top, white, #ecc);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.company-name {
    font-size:1.4em;
    
}

.login-info {
    font-size:0.7em;
    
}

.protected {
    font-size:0.6em;
    
}


.forgot-link {
    font-size:0.7em;
    
}