/* Howlate_base.css - used throughout and overridden if device is small 
*/

* {
	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;
	border:none;
	padding:none;
	margin:none;
}

td  img {
    background: linear-gradient( to top, white, #ecc);
	border-width:0px;
	margin:0px;
	padding:0px;
}

img { 
	display: block
}

span {
	inline:block;
}

#when {
	width: 50%;
	font-size:0.9em;
}

#refresh {
    text-decoration: underline;
	text-align:center;
	color: #0000CC;
}

img.logo {
	width:100px;
}

table.lateness {
        
        border-width:1px;
        border-color:black;
	/*border-collapse:collapse; */
	width:100%;
	vertical-align:top;
}

td.clinrow {
    background: linear-gradient( to top, white, #ecc);
    font-size:1.5em;
    vertical-align:right;
    min-height:1.2em;
}


td.practrow  {
	color:#111;
	font-size:1.2em;
}

td.practrow {
    background: linear-gradient( to top, white, #ecc);
    border-width:0.5em;
    margin:0.5em;
    padding:0.5em;
    text-align:left;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

