.custom-background,
.custom-background-hover:hover {
	background-color: #5742bf !important;
}

.custom-background-light-80,
.custom-background-light-80-hover:hover,
.ui-state-default:hover {
	background-color: #c4dff5 !important;
}

.custom-background-dark,
.custom-background-dark-hover:hover {
	background-color: #301a99 !important;
}

.custom-background-light,
.custom-background-light-hover:hover {
	background-color: #1e6ca8 !important;
}

.custom-background-fixed-lightness-95,
.custom-background-fixed-lightness-95-hover:hover {
	background-color: #e9f3fb !important;
}

.custom-background-light-90,
.custom-background-light-90-hover:hover {
	background-color: #e2effa !important;
}

.custom-border,
.custom-border-hover:hover {
	border-color: #195A8C !important;
}

.custom-border-on-white,
.custom-border-on-white-hover:hover {
	border-color: #195A8C !important;
}

.custom-border-dark,
.custom-border-dark-hover:hover {
	border-color: #14476f !important;
}

.custom-border-light,
.custom-border-light-hover:hover {
	border-color: #1e6ca8 !important;
}

.custom-font-on-white,
.custom-font-on-white-hover:hover {
	color: #195A8C !important;
}

.font-on-custom-background,
.font-on-custom-background-hover:hover {
	color: #ffffff !important;
}

.font-custom-dark,
.font-custom-dark-hover {
	color: #14476f !important;
}

.ui-datepicker-title,
.ui-state-active,
.ui-state-active:hover {
	background-color: #195A8C !important;
}


.index thead td,
.index.disabled thead td,
#navmain,
.bg_systemcolor1 {
	background-color: #195A8C;
}

#subnav li a,
.system-color {
	color: #195A8C;
}

.rounded-container.bg_systemcolor1,
.system-border {
	border-color: #195A8C;
}

#navmain ul a,
.bg_systemcolor2 {
	background-color: #7295B2;
}

#subnav,
#navmain strong a,
#navmain a:hover,
.bg_systemcolor3 {
	background-color: #DDDDDD;
}

#navmain ul a,
.primary-text {
	color: #ffffff;
}

.bg-system-light {
	background-color: #c4dff5;
}

/* Text colors for use with the new header */
.utility-text:link,
.utility-text:visited,
.utility-text:active,
.utility-text:hover,
.utility-text {
	color: #ffffff;
}
a.utility-text:hover {
	background-color: transparent;
}
.primary-figure {
	color: #195A8C;
}


#navmain strong a,
#navmain ul a:hover,
.secondary-color {
	color: #000000;
}


body .index thead th,
body .index thead a,
body .index thead .no-sort,
.container .reports_currency th a,
.container .report thead a,
.container .report thead th,
.container .report thead .no-sort,
.container .report tbody.header a,
.container .report tbody.header .no-sort,
.container table.spreadsheet th,
ul.permissions li.enabled {
	background-color: #195A8C;
	color: #ffffff;
}
table.spreadsheet th {
	border-top: 1px solid #195A8C;
	border-bottom: 1px solid #195A8C;
}
table.spreadsheet th.first {
	border-left: 1px solid #195A8C;
}
table.spreadsheet th.last {
	border-right: 1px solid #195A8C;
}

.report .arrow-down,
.index .arrow-down {
	background-position: -301px 0px;
}
.report .arrow-up,
.index .arrow-up {
	background-position: -311px 0px;
}

a.link_white_system:hover {
	color: #195A8C;
	background-color: #fff;
	text-decoration: none;
}


/* ******************************
/* MAIN TABS
/* *************************** */
#navmain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#navmain ul {
	margin: 0;
	padding: 0;
}
#navmain ul li {
	list-style: none;
	float: left;
	margin-right: 2px;
	position: relative;
}
#navmain ul li a {
	text-decoration: none;
	line-height: 20px;
	display: block;
	padding: 4px 6px;
	margin-bottom: 1px;
}
#navmain ul li strong a {
	border: 1px solid #fff;
	border-bottom: 1px solid #DDDDDD;
	padding: 3px 5px 4px 5px;
	margin-bottom: 0;
}
#subnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 18px;
	margin-top: -1px;
	border-top:1px solid white;
}
#subnav.subnavHeight {
	height: 6px;
}
#subnav ul {
	margin: 0;
	padding: 0;
}
#subnav ul li {
	list-style: none;
	float: left;
	margin-right: 2px;
}
#subnav ul li a {
	text-decoration: none;
	display: block;
	padding: 3px 8px 4px 8px;
	margin-top: 3px;
}
#subnav ul li a:hover,
#subnav ul li strong a {
	background-color: #fff;
	color: #000;
}
/* LOGO IMAGE */
#sysLogo {
	vertical-align: middle;
	margin: 2px 0 14px;
}
#navmain ul li.manage a {
	background-color: transparent;
	font-size: 13px;
	padding-left: 4px;
	padding-right: 0;
	color: #ffffff;
}

#navmain ul li.manage a:hover {
	text-decoration: underline;
}

/* ******************************
/* TOP RIGHT LINKS
/* *************************** */
#navmain ol {
	font-family:Verdana, sans-serif;
	font-size: 10px;
	line-height: 17px;
	margin: 0;
	padding: 5px 0 0 0;
	float: right;
}
#navmain ol li {
	list-style: none;
	float: left;
	margin-left: 1.5em;
}
#navmain ol li a {
	color: #ffffff;
	text-decoration: none;
	padding: 1px;
}
#navmain ol li a:hover,
#navmain a.toplink_on {
	background-color: #ffffff;
	color: #195A8C;
	text-decoration: none;
}

/* new header */
#navmain.fresh-header {
	background-color: #fff;
	font-size: 14px;
	font-weight:bold;
}
#navmain.fresh-header .logo-container {
	float: left;
	vertical-align: middle;
}

/* ******************************
/* TABLES
/* *************************** */
table.index thead td a:link,
table.index thead td a:active,
table.index thead td a:visited {
  color: #ffffff;
  text-decoration: none;
}
.showTableRight {
  font-size: 11px;
  line-height: 14px;
}
.showTableRight td {
  padding: 3px 0;
}

.sortLink,
a.sortLink:link,
a.sortLink:visited,
a.sortLink:active {
	color: #ffffff;
	line-height: 22px;
	text-align: left;
}
a.sortLink:hover {
	background-color: #ffffff;
	color: #195A8C;
	text-decoration: none;
}

/**
 * Timer Reset Icon
 */
.timer-reset-icon {
	background: url(/images/timer/reset-icon.png) 0 0 no-repeat;
		display: block;
	margin: 0 auto 3px;
	height: 27px;
	width: 27px;
}
a:hover .timer-reset-icon {
	background-position: 0 -27px;
	}

/**
 * Progress Indicators
 */
.progress-bar-container {
	border-color: #195A8C;
}
.progress-bar-progress {
	background-color: #195A8C;
	border-right: 1px solid #195A8C;
}