/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2014, 3:15:59 PM
    Author     : Alex
*/


.middlediv {
    width: 50%;
    height: 280px;
    background: linear-gradient( to top, white, #ecc);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.company-name {
    font-size:1.4em;

}

.login-info {
    font-size:0.7em;

}

.protected {
    font-size:0.6em;

}


#inner {
    width: 742px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#middle[id] {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}


#outer[id] {
    display: table;
    position: relative;
}

#outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#login-message {
    height:20px;
    
    
}
.custom-background, .custom-background-hover:hover {
    background-color: #5742bf !important;
}

.new-form .company-name {
    float: left;
    width: 100%;
}

.company-name {
    font: bold 24px Arial,Helvetica,sans-serif;
    padding: 10px 25px 5px 14px;
}

.font-on-custom-background, .font-on-custom-background-hover:hover {
    color: #ffffff !important;
}

.login-info {
    width: 370px;
    float: left;
    font: normal 14px Arial,Helvetica,sans-serif;
    padding-left: 14px;
}

.secure-info {
    font: normal 11px/18px Arial,Helvetica,sans-serif;
    float: right;
    width: 261px;
    padding: 0 20px 0 0;
    text-align: right;
}

.secure-lock {
    background: url('/images/lock.png') 0 0 no-repeat;
    width: 16px;
    height: 20px;
    float: left;
    margin-right: 7px;
    margin-top: -3px;
}

.form-pad-top {
    height: 18px;
}

.clearb {
    clear: both;
}


.new-form .boxMain {
    background: #e9e9e9 url('/images/arrow.gif') no-repeat 0 center;
    border: 1px solid #d9d9d9;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 740px;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.login-table {
    min-height: 300px;
    padding-top: 5px;
}

.boxMain {
    font-size: .75em;
    line-height: 20px;
}

.login-right-container {
    padding: 40px 20px;
}

.new-form .login-forms, .new-form .login-forms form {
    height: 220px;
}

.new-form form label {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 3px;
    float: none;
    text-align: left;
    font-size: 15px;
    width: auto;
}


.new-form #username, .new-form #password, .new-form #email, .new-form #openid_identifier {
    width: 408px;
}



.new-form form input[type=text], .new-form form input[type=password] {
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    padding: 8px 5px;
    margin: 0 0 12px 0;
}

form input[type=text], form input[type=password] {
    font-family: Verdana,sans-serif;

}

button {
    overflow:visible;
}


.button {
    -webkit-box-shadow: 0 1px 0 #a1a1a1 inset;
    -moz-box-shadow: 0 1px 0 #a1a1a1 inset;
    box-shadow: 0 1px 0 #a1a1a1 inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #888;
    background-repeat: no-repeat;
    border: 1px solid #666;
    color: #fff!important;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 14px/28px Arial,Helvetica,sans-serif;
    height: 30px;
    margin: 0;
    min-width: 75px;
    outline: 0;
    padding: 0 9px;
    text-align: center;
    text-decoration: none!important;
    white-space: nowrap;
}

.button.large {
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    margin: 0 0 17px 5px;
    padding: 0 19px;
    min-width: 140px;
}


.button.green {
    -webkit-box-shadow: 0 1px 0 #9dd04b inset;
    -moz-box-shadow: 0 1px 0 #9dd04b inset;
    box-shadow: 0 1px 0 #9dd04b inset;
    text-shadow: 0 0 1px rgba(0,0,0,0.4);
    background-color: #85c51f;
    border: 1px solid #659c17;
}


.button.login {
    margin: 5px 0 10px 0;
}

.forgot-link {
    margin: 17px 0 0 20px;
    float: left;
    font-size:15px;
}

.login-table img {
    margin-left: 45px;
}

.form-block p {
    font-size:15px;
}