.lateness { 
	width:100%; 
	border:1px solid gray;
	border-radius:3px;
	font-family:Arial,Helvetica,sans-serif;
        margin:0px;
}

.logo {
    width:100px;
}


.clinrow {
    background-color:#EEE;
    font-size:1.2em;
    
}
