RewriteEngine on


#RewriteCond %{HTTPS} !=on
##RewriteCond %{HTTP_HOST} !^(secure|m)\.how-late\.com$ [NC]
#RewriteCond %{HTTP_HOST} !^(secure|m)\.fiedlerconsulting\.com\.au$ [NC]
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [NC,R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# rewrites a fileuri of controller/action into index.php?rt=controller/action
RewriteRule ^(.*)$ index.php?rt=$1 [L,QSA]


# disable to prevent caching of the lateness page
#ExpiresActive on
#ExpiresDefault "access plus 1 year"

