<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.howlate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HowLateAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <com.howlate.Properties.Settings>
      <setting name="PollIntervalSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BPS_InstanceName" serializeAs="String">
        <value>.\BPSINSTANCE</value>
      </setting>
      <setting name="BPS_DbName" serializeAs="String">
        <value>BPSPatients</value>
      </setting>
      <setting name="BPS_Db_UID" serializeAs="String">
        <value>BPSViewer</value>
      </setting>
      <setting name="BPS_Db_PWD" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="BPS_SQL" serializeAs="String">
        <value>select a1.Provider, a1.Status, a1.ArrivalTime, a1.AppointmentTime, a1.ConsultationTime from BPS_Appointments a1 where a1.AppointmentDate = DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
and a1.ConsultationTime = 
(SELECT MAX(a2.ConsultationTime) FROM BPS_Appointments a2 
WHERE a2.AppointmentDate = a1.AppointmentDate and a2.Provider 
= a1.Provider and a2.ConsultationTime != 0)


</value>
      </setting>
      <setting name="API_URL" serializeAs="String">
        <value>https://margateclinic.how-late.com/api?met=upd&amp;ver=post</value>
      </setting>
      <setting name="API_Credentials" serializeAs="String">
        <value>alexf.9cbf8a4dcb8e30682b927f352d6559a0</value>
      </setting>
    </com.howlate.Properties.Settings>

  </applicationSettings>
</configuration>